@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tweet {
  width: 500px;
}

@media (max-width: 767px) {
  .user-info__menu {
    display: inline-block;
    z-index: 1;
  }

  .controls__menu {
    display: none;
  }
}